
:root {
  --color-darkblue: #112f41;
  --color-blue: #0894a1;
  --color-green: #4a923a;
  --color-yellow: #f2b134;
  /* --color-orange: #ed553b; */
  --color-orange: #EF6414;
  --color-pink: #b51a59;
  --color-purple: #571845;
  --color-almost-white: #f0e1f0;

  --font-walter: 'Walter Turncoat', cursive;
  --font-indie: 'Indie Flower', cursive;
  --font-amatic: 'Amatic SC', cursive;
  --font-greek: 'GFS Neohellenic', sans-serif;

  /*--font-amatic: BlackBetty;*/

  --font-size-l: 4rem;
  --font-size-m: 2.5rem;
  --font-size-text: 1.3rem;
  --font-size-text-m: 1.6rem;

  --space-m:2rem;
  --space-s:1.5rem;
  --margin-lr-sm:2.5rem;

  /* WIDTH */
  --max-width-full: 800px;
  --max-w-p: 600px;
  --min-width-mobile :320px;


}



@font-face {
  font-family: BlackBetty;
  src: url(font/BlackBetty.otf);
}

 /*--- GENERAL --- */

body {
  background-color: var(--color-darkblue);
  color: white;
  text-align: center;
  font-size: var(--font-size-text);
  font-family: var(--font-indie), var(--font-greek);
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
img {
  margin: 0 var(--margin-lr-sm);
}

h1 {
  font-family: var(--font-amatic);
  font-size: var(--font-size-l);
  font-weight: 400;
  padding: var(--space-m) 1.25rem var(--space-s);
  margin: 0 auto;
}

h2 {
  font-family: var(--font-amatic);
  font-size: var(--font-size-m);
  font-weight: 400;
  padding: var(--space-s) var(--margin-lr-sm) var(--space-m);
  margin: 0 auto;
}

h3 {
  text-transform: uppercase;
  font-size: var(--font-size-text);
}

p {
  /* font-family: var(--font-comfortaa); */
  margin: 0 auto 1.25rem;
  max-width: var(--max-w-p);
  letter-spacing: 0.05rem;
  line-height: 1.3;
}

a {
  color: white;
  text-decoration:none;
  border:1px solid #00000000;
  border-radius: 4px;
  /* padding: calc(0.5rem + 1px); */
  padding: 0.4rem 0.8rem 0.3rem;
  transition: border 0.2s;
  margin: auto;
}
a:hover {
  color: var(--color-almost-white);
  border: 1px solid var(--color-almost-white);
  border-radius: 4px;
  /* padding: 0.5rem; */

  
}
.abtn {
  margin: 2rem var(--margin-lr-sm);
  display: grid;
}

.space-m {
  height: var(--space-m);
}
.space-s {
  height: var(--space-s);
}

.header {
  /*height: 100vh;*/
  background-color: var(--color-darkblue);
  /*margin: 0;*/

}

.my_container {
  min-height: 100vh;
}
.inner_container {
  max-width: var(--max-width-full);
  margin: auto;
  padding: 1rem;
}


/* FLEX */
.flex_container{
  display: flex;
  text-align: left;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

/*--- MENU ---*/
.side_menu {
  min-height: 100px;
  position: fixed;
  top: calc( 100vh/4);
  right: 1rem;
  text-align: right;
  font-family: var(--font-amatic);
  font-size: 1.5rem;
  opacity: 0.8;
  border-radius: 8px;
  transition: all 0.5s ease;
  z-index: 1;
}
.side_menu ul {
      list-style: none;
}
.side_menu li {
  padding: 0.35rem 0;
}
.side_menu li:hover {
  font-size: 2rem;
  padding: 0;
}
.side_menu .active {
  font-size: 2rem;
  padding: 0;
}
.side_menu a:hover {
 border: none;
}
.side_menu a {
  border: none;
  transition: none;
}

 /*--- WELCOME SECTION ---*/

.welcome {
  background-color: var(--color-darkblue);
}
.welcome h1 {
  padding: calc( 100vh / 2 - 4rem) var(--margin-lr-sm);
}

 /*--- TRANSPORT SECTION ---*/

.transport {
  background-color: var(--color-pink);
}

.show_card {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
.show_card img {
  height: 40px;
  margin: 10px;
}

.show_card p {
  margin: 0 10px;
}

/* .flex_container { */
/* .col-2-cont {
  display: flex;
  text-align: left;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
} */

.hover_scale {
  box-shadow: 0 -0 15px #00000000;
  transition: all 0.2s ease;
}

.hover_scale:hover {
  box-shadow: 0 -5px 15px #0000003d;
  margin-top: 5px;
  transform: scale(1.05);
}

.card_container img {
  margin-bottom: 40px;
  height: 100%;
  width: 100%;

}

/*.card_container > * {*/
.col-2-cont > * {
  /*margin: 0 var(--margin-lr-sm) 20px;*/
  /* max-width: 400px; */
  max-width: calc(100% / 2);
}

.card_container > * {
    /* max-width: 300px; */
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: calc(100% / 2 - 4rem - 1rem);

  }

.sc2 img {
    transform: scaleY(-1) rotate(190deg);
}

.cc2 .reverse_this {
  order:0;
}

.metro_img {
  background-color: var(--color-almost-white);
}
.metro_img img {
  width: calc(100vw - var(--margin-lr-sm) * 2);
  max-width: 700px;
  margin: auto;
}

.btn_with_img img {
  height: 1rem;
  margin: 0 0.2rem;
}

/*--- FOOD SECTION ---*/
.cuisine {
  background-color: var(--color-blue);
}

.catalog ul {
  list-style: none;
  text-align: left;
  padding: 0;
}
.catalog li {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.catalog {
  border: 2px solid white;
  padding: 2rem 12% 3rem;
  min-height: 10rem;
  margin-bottom: var(--space-s);
}
.catalog h2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.catalog p {
  /*width: calc((100% - 40%) / 3);*/
  margin: 0;
}
.category {
  text-transform: uppercase;
}

.lines {
  /*width: calc(40% / 2);*/
  border-bottom: 2px dotted white;
  flex: 1;
}

/*--- SHOPPING SECTION --- */
.shopping {
  background-color: var(--color-orange);
}

.shopping .oldphoto {
  transform: rotate(-2deg);
    background-color: #ffffffe0;
    border-radius: 5px;
    width: 100%;
    box-shadow: 3px 3px 0px #00000057;
    margin-bottom: 3rem;
    padding-bottom: 0.5rem;
}
.shopping .old2 {
  transform: rotate(2deg);
}

.shopping .oldphoto img {
  padding: 0.4rem;
  margin: auto;
  max-width: calc(100% - 0.8rem);
}

.shopping .oldphoto a {
  text-align: right;
  padding: 0 1rem;
  color: #ef6413;
  font-size: small;
  display: block;
  margin: 0 0.4rem;
}

.sub-p {
  font-size: smaller;
  opacity: 0.8;
  margin: 0.5rem;
}


/*--- NATURE SECTION --- */
.nature {
  background-color: var(--color-purple);
}


.fruit_container img {
  width: 65%;
  margin: 0 auto 1rem;
}

.fruit_container{
  text-align: center;
}

.col-4-cont> * {
  max-width: 180px;
}

.fruit_date {
  opacity: 0.4;
}

 /*--- TRASH SECTION --- */
.trash {
  background-color: var(--color-yellow);
}
.bin_container {
  text-align: center;
}
.bin_container p {
  min-height: 80px;
}
.bin_container img {
  max-height: 300px;
  /*margin:auto;*/
  width: auto;
  margin: 0 20px 40px;
}

.trash_imgs img {
  /* width: 100px; */
  position: fixed;
    /* top: calc(100vh/4);
    left: -40px; */

}



/* --- MEDIAS --- */
@media only screen and (max-width: 700px) {

  /* MENU */
  .side_menu {
    top: 0rem;
    right: 0rem;
    width: 100%;
    min-height: 50px;
    border-radius: 0px;
    text-align: center;
  }
  .side_menu ul {
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 0;
  }

}


@media only screen and (max-width: 600px) {
  p {
    margin-left: var(--margin-lr-sm);
    margin-right: var(--margin-lr-sm);
  }

  .cc2 .reverse_this {
    order:-1;
    justify-self: end;
  }

  .show_card img {
    min-width: 40px;
  }

  .col-2-cont {
    grid-template-columns: 1fr;
    text-align: right;
  }
  .card_container p {
    justify-self: end;
  }
    
  .col-2-cont > * {
    min-width: var(--min-width-mobile);
  }

  .card_container > * {
    min-width: var(--min-width-mobile);
  }

  .show_card {
    justify-content: flex-end;
  }
  .sc2 {
    justify-content: flex-start;
  }
  .cc2 .reverse_this {
    order:-1;
    justify-self: end;
  }
  .cc2 p {
    justify-self:start;
  }


  .catalog p {
    /*width: calc((100% - 10%) / 3);*/
    margin: 0;
  }

  .l2 {
    display: none;
  }
  .gr_name {
    display: none;
  }


}
